@{
    ViewData["Title"] = "Home Page";
    var numberOfRows = 20;
    var typeOfEntertainment = new []{ "Книга", "Фильм", "Игра" };
    var nameOfTheGames = new[] { "Warcraft III", "Neighbours back From Hell", "Dota 2", "Zuma", "Heroes of Might and Magic III" };
    var nameOfBooks = new[] { "На Западном фронте без перемен", "Посторонний", "Мартин Иден", "Маленький принц", "Бродяга" };
    var nameOfFilms = new[]
    {
        "Форрест Гамп", "Криминальное чтиво", "Побег из Шоушенка", "Список Шиндлера", "Американский психопат",
        "Американская история X", "Назад в будущее", "Бойцовский клуб", "Крестный отец", "Старикам тут нее место"
    };

    var random = new Random();
    string selectedType = null;
}

<div class="text-center">
    <table>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена за штуку</th>
            <th>Количество</th>
            <th>Действие</th>
        </tr>
        @for (int i = 0; i < numberOfRows; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@(selectedType = typeOfEntertainment[random.Next(typeOfEntertainment.Length)])</td>
                <td>@GetRandom(selectedType)</td>
                <td>@(random.Next(1, 31) * 100)</td>
                <td>@(random.Next(100))</td>
                <td>✎⌫</td>
            </tr>
        }
    </table>
</div>

@{
    string GetRandom(string Type)
    {
        if (Type == "Книга")
        {
            return nameOfBooks[random.Next(nameOfBooks.Length)];
        }
        else if (Type == "Фильм")
        {
            return nameOfFilms[random.Next(nameOfFilms.Length)];
        }
        else if (Type == "Игра")
        {
            return nameOfTheGames[random.Next(nameOfTheGames.Length)];
        }

        return "Пусто";
    }
}